.search-wrapper {
    width: 400px;
    margin: 20px 0 0 14px;
}

input {
    border: 1px solid #8F8F8F;
    height: 40px;
    width: 300px;
}

input:focus {
    outline-color: #8F8F8F;
}

.no-suggestions {
    color: #999;
    padding: 0.5rem;
}

.suggestions {
    border: 1px solid #999;
    border-top-width: 0;
    list-style: none;
    margin-top: 0;
    margin-left: 27px;
    max-height: 143px;
    overflow-y: auto;
    padding-left: 0;
    width: calc(288px + 1rem);
}

.suggestions li {
    padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
    background-color: #FFFFFF;
    color: var(--secondary-text-color);
    cursor: pointer;
    font-weight: 700;
}

.suggestions li:not(:last-of-type) {
    border-bottom: 1px solid #999;
}

button {
    font-size: 1.2em;
    background: var(--secondary-text-color);
    color: #FFFFFF;
    cursor: pointer;
    outline: none;
    border: 1px solid green;
    height: 40px;
    width: 40px;
}
