body {
  background: #E6E6E6;
  margin: 0;
  padding: 0;
}
body > * {
  text-align: center;
  color: white;
}
.flexbox-wrapper {
  display: flex;
  flex-flow: column;
}
.header,
.footer {
  background-color: black;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 74px;
  width: 100%;
}
.sidebar-left, .sidebar-right {
  display: none;
}
.footer {
  flex: 1 100%;
  height: 45px;
  border: 1px solid red;
}
.main {
  flex: 2;
  text-align: center;
  padding: 100px 20px;
  background-color: white;
  color: black;
}
@media only screen and (min-width: 576px) {
  .flexbox-wrapper {
    flex-flow: row wrap;
  }
  .sidebar-left, .sidebar-right {
    flex: 1;
    display: block;
  }
}
