:root {
  --standard-bg-color: #E6E6E6;
  --standard-text-color: #000000;
  --secondary-text-color: #2DCCF5;
  --header-footer-bg-color: #000000;
  --header-footer-text-color: #FFFFFF;
}
body {
  background-color: var(--standard-bg-color);
  margin: 0;
  padding: 0;
  color: var(--secondary-text-color)
}
body > * {
  color: var(--standard-text-color);
  text-align: center;
}
.flexbox-wrapper {
  display: flex;
  flex-flow: column;
}
.header,
.footer {
  background-color: var(--header-footer-bg-color);
  color: var(--header-footer-text-color);
}
.header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 74px;
  width: 100%;
}
.header span {
  font-size: 2em;
}
.header-football {
  padding: 0 5px;
}
.header h1 {
  display: inline-block;
  color: var(--secondary-text-color);
  font-size: 1.2em;
}
nav ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  list-style: none;
}

nav ul li {
  margin: 0;
  padding: 0;
}

nav ul li  {
  font-size: 1em;
}

header a {
  font-size: 1.3em;
  padding: 0 10px;
}
.main-nav {
  color: white;
  text-decoration: none;
}
.main-nav-active {
  border-bottom: 2px solid var(--secondary-text-color);
}
.main-nav:hover {
  color: var(--secondary-text-color);
}
.search {
  margin-left: auto;
  padding-right: 5px;
}
.sidebar-left, .sidebar-right {
  display: none;
}
.footer {
  flex: 1 100%;
  height: 45px;
}
.main {
  flex: 2;
  flex-basis: 470px;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 80px 0;
  background-color: white;
}
h2 {
  align-self: flex-start;
  margin: 0 0 0 40px;
  color: var(--secondary-text-color);

}
.competition-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.country {
  margin: 20px 0 0 60px;
  align-self: flex-start;
}
.match {
  display: flex;
  width: 95%;
  font-size: 20px;
  margin: 15px 0 0 0;
  font-weight: 400;
  border: 1px solid lightgray;
}
.team {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 0 50px 10px;
}
.score {
  flex: 3;
}
.match-info-options {
  flex: 1;
  color: var(--secondary-text-color);
}
.home-team, .home-team-score {
  margin-bottom: 10px;
}
.away-team, .away-team-score {
  margin: 0;
}
@media only screen and (min-width: 768px) {
  .flexbox-wrapper {
    flex-flow: row wrap;
  }
  .sidebar-left, .sidebar-right {
    flex: 1;
    display: block;
  }
  nav ul {
    flex-direction: row;
  }

  nav ul li a, header a {
    font-size: 1.5em;
  }
}
